@(hackatons: List[Hackaton], hackatonForm: Form[Hackaton])

@import helper._

@main("Lista de HackFests") {
    
    <html lang="">
    <head>
        <!-- Bootstrap CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    
     <body>
     
     
     <div class="navbar navbar-inverse navbar-fixed-top">
	 	<div class="container">
	 		<div class="navbar-header">
	 			<button type="button" class="navbar-toggle"
					data-toggle="collapse" data-target=".navbar-collapse">
			    </button>
				<a class="navbar-brand" href="/">Hackathons</a>
 			</div>
		  </div>
		</div>
			<br>
			<br>   
     		<br>
     
     
     
     
     
     
     
     <div class="container form-horizontal panel panel-default text-info" >
    <h2>Adicione uma nova Hackfest</h2>
    
    @form(routes.Application.newHackaton()) {
        
        @inputText(hackatonForm("label"), '_label -> <b>Hackathon:</b>)
        @inputText(hackatonForm("description"), '_label -> <b>Descrição:</b>)
        @inputText(hackatonForm("date"), '_label -> <b>Data:</b>)
   
						       <select name="type">
						         <option value="Tema pré-definido 1">Tema pré-definido 1</option>
						       	 <option value="Tema pré-definido 2">Tema pré-definido 2</option>
						         <option value="Tema pré-definido 3">Tema pré-definido 3</option>
						       	 <option value="Tema pré-definido 4">Tema pré-definido 4</option>
						         <option value="Tema pré-definido 5">Tema pré-definido 5</option>
						         <option value="Tema pré-definido 6">Tema pré-definido 6</option>
						         <input type="submit" class="btn btn-default" value="Inserir">
						      </select>	
						   </div>
						</form>
						
					 
					 
        
    }
                          
     <h2 class="text-center">@hackatons.size() Hackathons(s)</h2>
   
   
     <div class="container form-horizontal panel panel-default text-info" >
                <table class="table table-hover">
                <h2>- Hackathons:</h2>
                <br>
                    <thead>
                        <tr>
	                        <th>Hackaton </th>
	                        <th>Descrição </th>
	                        <th>Data </th>
	                        <th>Tipo</th>
	                        <th>Ação</th> 
	                    </tr>
                    </thead>
                    <tbody>
       				  @for(hackaton <- hackatons) {
	            		  	<tr>
					             <th>@hackaton.getLabel()</th>
					   			 <th>@hackaton.getDescription()</th>
					             <th>@hackaton.getDate()</th>
	                             <th>@hackaton.getType()</th>
	
		              	<th> 
		                @form(routes.Application.deleteHackaton(hackaton.getId())) {
		                    <input type="submit" class="btn btn-default" value="Apagar">
		                }
		                </th></tr>              
		            }
		                   
		        </tbody>
		        </table>
		    </div>
   		<footer>
            <p>
                <b>- by Eder Andrade©.</b>
            </p>
         </footer>
 
    

   
   
   
   
}
 <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </body>
</html>